/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind CSS  */
@import "tailwindcss";

@theme {
  --font-caveat: "Caveat", cursive;
  --font-roboto: "Roboto", sans-serif;
}

/* Main Home.jsx page banner image */

.banner {
  background-image: url("./assets/Hero banner.avif");
}

html {
  scroll-behavior: smooth;
}
